* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffffff;
  --main-bg-color: #000000;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
body {
  width: 100%;
  font-family: "Didact Gothic", sans-serif;
}
.home {
  height: 100vh;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.navbar {
  display: grid;
  grid-template-columns: 30% 70%;
}
.nav {
  position: relative;
  width: 50%;
  margin: 40px 40px 0 440px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.logo img {
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 40px;
}
.nav a {
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  transition: transform 0.5s;
}
.nav a:hover {
  transform: scale(1.15);
}
.wel h1 {
  position: relative;
  font-size: 80px;
  text-align: center;
  color: var(--primary-color);
  padding-top: 30vh;
}

.section1 {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.left {
  position: relative;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}
.text {
  position: relative;
  background-color: var(--primary-color);
  padding: 80px;
}
.right {
  position: relative;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}
.text h1 {
  font-size: 50px;
}
.text p {
  font-size: 30px;
}
.about h1 {
  display: flex;
  align-items: center;
  margin: 0px 100px;
  font-size: 60px;
  color: var(--primary-color);
}
.section2 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.detail {
  position: relative;
  background-color: var(--primary-color);
}
.work h1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
  font-size: 60px;
  color: var(--primary-color);
}
.detail h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 16px;
}
.v {
  margin-top: 20px;
}
.all {
  display: grid;
  grid-template-columns: repeat(8, 10vh);
  grid-template-rows: repeat(8, 4vw);
  grid-gap: 12px;
  padding: 0 0 48px 36px;
}
.all img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tight {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}
.leg {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 8;
}
.white {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
}
.purple {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}
.hand {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
}
.church {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}
.square {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}
.flour {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 6;
}
.school {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
.fav h1 {
  display: flex;
  align-items: center;
  margin: 0px 100px;
  font-size: 60px;
  color: var(--primary-color);
}
.content {
  position: relative;
  background-color: var(--primary-color);
}
.content h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 16px;
}
.musso {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 40px;
}
.musso img {
  width: 200px;
  height: 300px;
  margin-left: 44px;
}
.content h2 {
  font-size: 32px;
  font-style: italic;
}
.content p {
  font-size: 24px;
  margin-right: 20px;
}
.review {
  margin: 20px;
}
.mm {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 32px;
}
.mm p {
  margin: 0 20px;
}
.water {
  display: grid;
  grid-template-columns: 55% 45%;
}
.water img {
  width: 240px;
  height: 320px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.ww {
  margin-left: 40px;
  text-align: justify;
  text-justify: inter-word;
}
.ww h2 {
  text-align: right;
  margin-right: 20px;
}
.contact h1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
  font-size: 60px;
  color: var(--primary-color);
}
.cont {
  position: relative;
  background-color: var(--primary-color);
  padding: 40px;
}
.social {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.social a {
  font-size: 32px;
  text-decoration: none;
  color: var(--main-bg-color);
  text-decoration: underline 0.1em var(--primary-color);
  transition: text-decoration-color 0.3ms;
}
.social a:hover {
  text-decoration-color: var(--main-bg-color);
}
.cont h1 {
  font-size: 80px;
}
.cont p {
  font-size: 40px;
}
.end {
  height: 100vh;
  width: 100%;
}
.end h1 {
  position: relative;
  font-size: 80px;
  text-align: center;
  color: var(--primary-color);
  padding-top: 20vh;
}
